{{#if (isAdmin)}}<!DOCTYPE html>
<html>
	<head>
		<title>Admin Panel</title>
	</head>
	<div id="root">
		<h1><u>Admin Panel</u></h1>
	</div>
	<!-- base stuff -->
	<script>
		async function makeRequest(command, data) {
			return fetch('/admin.aspx', {
				method: 'POST',
				body: JSON.stringify({
					command: command,
					data: data
				})
			});
		}
		// bypass js error even though it is valid
		const root = document.getElementById('root');
		function button(label, endPoint, wrapper = alert, guard = ()=>true)
		{
			const btnElem = document.createElement('input');
			btnElem.type = 'button';
			btnElem.onclick = async ()=>{if(guard())(await makeRequest(endPoint, undefined)).json().then(r=>wrapper(r.d));}
			btnElem.value = label;
			root.appendChild(btnElem);
			root.insertAdjacentHTML('beforeend', '<br>');
		}
		function text(label, endPoint, placeholder = label, handler = alert)
		{
			const btnElem = document.createElement('input');
			const inputElem = document.createElement('input');
			btnElem.type = 'button';
			inputElem.type = 'text';
			let f;
			btnElem.onclick = async ()=>(f = await makeRequest(endPoint, inputElem.value)).json().then(r=>handler(r.d));
			btnElem.value = label;
			inputElem.placeholder = placeholder;
			root.appendChild(inputElem);
			root.appendChild(btnElem);
			root.insertAdjacentHTML('beforeend', '<br>');
		}
		function html(id, value='')
		{
			root.insertAdjacentHTML('beforeend', '<div id="' + id + '">' + value + '</div>');
		}
	</script>
	<!-- paths and such -->
	<script>
		button('Save', 'save');
		button('Get Logs', 'logs', (r)=>document.getElementById('logs').innerHTML = r.replaceAll('\n', '<br />').replaceAll('WARN', '<span style="color:orange;">WARN</span>').replaceAll('ERROR', '<span style="color:red;">ERROR</span>'));
		html('logs');
		button('Get Connect Ips', 'getIps', (r)=>document.getElementById('ips').innerText = r);
		html('ips');
		button('Get Errors', 'getErrorLog', (r)=>document.getElementById('errors').innerText = r);
		html('errors');
		button('Clear Errors', 'clearErrorLog', (r)=>document.getElementById('errors').innerText = '', ()=>confirm('press "OK" to delete errors'));
		text('Admin', 'makeAdmin', 'Username');
		text('Un Admin', 'unAdmin', 'Username');
		text('Reset Token', 'resetToken', 'Username');
		text('Join Date', 'joinDate', 'Username');
		text('Move Player', 'tpPlayer', 'username:x,y');
		button('Get Online Players', 'onlinePlayers', (r)=>document.getElementById('onlinePlayers').innerText = r);
		html('onlinePlayers');
		text('Get Player JSON', 'getPlayerJson', 'Username', (r)=>document.getElementById('playerJson').innerHTML = r);
		html('playerJson');
		text('Set Player JSON', 'setPlayerJson', 'Username:key:value');
		button('Get Loaded Chunks', 'getLoadedChunks', (r)=>document.getElementById('loadedChunks').innerText = r);
		html('loadedChunks');
		text('Get Objects in chunk', 'getObjectsInChunk', 'chunk id', (r)=>document.getElementById('objectsInChunk').innerText = r);
		html('objectsInChunk');
		text('Get Object JSON', 'getObjectJson', 'x:y', (r)=>document.getElementById('objectJson').innerHTML = r);
		html('objectJson');
		text('Set Object JSON', 'setObjectJson', 'x:y:key:value');
		button('Go Down For Maintenance', 'disableConnections');
		button('Come Back Up', 'enableConnections');
		text('Global Message', 'globalMessage', 'Message');
		button('Disable Signup', 'disableSignup');
		button('Enable Signup', 'enableSignup');
		button('Turn Off Immediately', 'turnOffServer', alert, ()=>confirm('press "OK" to turn off server'));
		text('Turn Off Server In X Minutes', 'serverGoingDown', 'reason:minutes');
		html('pluginMarker', '<hr>');
		{{{adminFuncs}}}
	</script>
</html>{{/if}}