#building-magnifier {
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    width: 90px;
    height: 90px;
    margin: 0 0 5px 3px;
    padding: 1px;
}

div.building-magnifier-tile {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    border: 1px solid black;
    font-size: 24px;
    margin: 1px;
    text-align: center;
    cursor:pointer;
}

p.bottom-box-left-menu-timer {
    font-size: 14px;
    padding: 0 2px 10px;
}

div.build-overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
}

#build-overlay-top {
    top: 51px;
    left: 0;
    right: 0;
    margin: auto;
    width: 640px;
    height: 289px;
}

#build-overlay-bottom {
    top: 399px;
    left: 0;
    right: 0;
    margin: auto;
    width: 640px;
    height: 288px;
}

#build-overlay-left {
    top: 340px;
    left: 0;
    right: 350px;
    margin: auto;
    width: 290px;
    height: 59px;
}

#build-overlay-right {
    top: 340px;
    left: 350px;
    right: 0;
    margin: auto;
    width: 290px;
    height: 59px;
}