div.stat-bar {
    border: 1px solid black;
    width: calc(100% - 82px);
    margin: auto;
    height: 10px;
    max-width: 400px;
    text-align:left;
    position:relative;
}

div.stat-bar-filler {
    background-color: #535353;
    position:absolute;
    width: 0%;
    height: 100%;
}

div.filler-slide-hp, div.filler-slide-sp {
    background-color: #b0b0b0 !important;
    transition: all 800ms;
}

div.stat-bar.mini {
    display: block;
    margin: 0;
    max-width: 100px;
    height: 8px;
}

p.stat-bar-title {
    text-align: left;
    font-size: 16px;
    width: calc(100% - 82px);
    margin: auto;
    text-align:left;
    max-width: 400px;
}

#stats-level {
    font-size: 20px;
    margin: 10px auto 0;
}

p.stat-subbar-info {
    width: calc(100% - 82px);
    margin: 1px auto 5px;
    max-width: 400px;
    text-align: right;
    font-size: 12px;
}

#stats-dmg {
    margin: 0 auto 15px;
    text-align: left;
    max-width: 200px;
    font-size: 16px;
    display: inline-block;
}

#stats-upgrades {
    border: 1px solid black;
    display: inline-block;
    margin: 0 5px 20px;
    padding: 5px 15px;
    margin: 10px 5px 20px;
    padding: 10px 15px;
}

#stats-skillpoint-btndesc {
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px;
}

#stats-skillpoint-upgrade {
    margin: 5px auto;
    display: block;
}

#stats-skillpoint-box {
    border: 1px solid black;
    max-width: 240px;
    margin: 0 auto 20px;
    padding: 5px;
    text-align: right;
    width: calc(100% - 16px);
}

p.upgrade-desc {
    font-size: 18px;
    text-align: center;
    margin: 0 0 5px;
}

p.stat-upgrade-nums {
    display: inline-block;
    vertical-align: bottom;
    width: 45px;
    font-weight: bold;
    text-align: right;
    margin: 0 0 0 7px;
    font-size: 18px;
    opacity: .5;
}

input.stat-upgrade-btn {
    padding: 1px 4px;
    margin: 10px 0 0 10px;
    font-size: 14px;
    width: 34px;
    text-align:center;
}

input.stat-apply-btn {
    font-size: 16px;
    padding: 2px 5px;
    margin: 0;
}

#stats-upgrade-points-remaining {
    font-weight:bold;
}

div.stat-upgrade-num-holder {
    font-size: 14px;
    text-align: right;
}

#stats-resetallBtn {
    font-size: 14px;
    margin: 0 0 30px;
}

#stats-resetall {
    max-width: 400px;
    margin: 10px auto;
    padding: 5px;
    width: calc(100% - 16px);
    border: 1px solid black;
}

#stats-resetall-desc {
    font-size: 16px;
    margin: 0 0 20px;
}

#stats-effects {
    text-align: left;
    margin: 10px 40px;
    font-size: 12px;
}